$blue: #3378ff;
$dark: #4a5d7d;
$purple: #8e44ad;
$grey: #8b92a4;
$green: #14ad0d;
$orange: #ffb236;
$red: #ff3636;
$white: #fff;
$light: #f2f5f7;

$colorMain: $blue;

$borderRadius: 3px;
$boxShadow: 0px 2px 4px 0
  rgba(
    $color: $dark,
    $alpha: 0.1
  );
$off-blue: rgba($blue, 0.2);
$off-white: rgba($white, 0.2);
$off-dark: rgba($dark, 0.2);

$zindexHeader: 100;
$zindexSidebar: 200;
$zindexAlertsList: 300;
$zindexConfirm: 250; 
$zindexPopup: 250;

@mixin btnFocus($color) {
  &:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba($color: $color, $alpha: 1);
  }
}

@mixin btnHover($color) {
  &:hover {
    outline: none;
    box-shadow: 0px 0px 10px rgba($color: $color, $alpha: 1);
  }
}

@mixin bgLighting($color) {
  background: rgba($color: $color, $alpha: 0.2);
}
@mixin sidebarCollapseTransition {
  transition: 0.2s ease-in-out;
}

@mixin inputStyle() {
  width: 100%;
  background: none;
  border-radius: $borderRadius;
  border: 1px solid rgba($color: $dark, $alpha: 0.3);
  height: 35px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 7px;
  color: $dark;
}
